openpyxl==3.0.4
requests==2.22.0
xmltodict==0.12.0
beautifulsoup4==4.8.1
pytest==6.2.1
azure-functions
azure-functions-durable
azure-core==1.10.0
aiohttp==3.6.2
aiohttp-retry==1.0
git+https://cdisc-org@dev.azure.com/cdisc-org/cdisc-library/_git/cdisc-library-content-loader